@charset "UTF-8";


body{
    background-color: var(--cor1);
}

section{
    background-color:var(--cor2);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

header{
    min-width: 170px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor2);
    font-size: 3em;
    margin-bottom: 20px;
}


nav{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
}



